
    <form class="row g-3" id="custom_form" enctype="multipart/form-data" autocomplete="off">

        <!-- Nome -->
        <div class="col-md-6">
            <label for="inputName" class="form-label">Nome</label>
            <input type="text" class="form-control" id="inputName" name="name" autocomplete="off">
        </div>
        <!-- Cognome -->
        <div class="col-md-6">
            <label for="inputSurname" class="form-label">Cognome</label>
            <input type="text" class="form-control" id="inputSurname" name="surname" required>
        </div>
        <!-- Data nascita -->
        <div class="col-md-6">
            <label for="inputDate" class="form-label">Data nascita</label>
            <input type="date" class="form-control" id="inputDate" placeholder="" name="date" required>
        </div>
        <!-- Nato a -->
        <div class="col-md-6">
            <label for="inputBornIn" class="form-label">Nato a</label>
            <input type="text" class="form-control" id="inputBornIn" placeholder="" name="bornIn" required>
        </div>
        <!-- Citta residenza -->
        <div class="col-md-6">
            <label for="inputCity" class="form-label">Città di residenza</label>
            <input type="text" class="form-control" id="inputCity" name="city" required>
        </div>
        <!-- Via e civico -->
        <div class="col-md-6">
            <label for="inputStreet" class="form-label">Via e n° civico</label>
            <input type="text" class="form-control" id="inputStreet" name="street" required>
        </div>
        <!-- CAP -->
        <div class="col-md-4">
            <label for="inputCAP" class="form-label">CAP</label>
            <input type="text" class="form-control" id="inputCAP" name="cap" required>
        </div>
        <!-- Provincia -->
        <div class="col-md-4">
            <label for="inputProvince" class="form-label">Provincia</label>
            <input type="text" class="form-control" id="inputProvince" name="province" required>
        </div>
        <!-- Regione -->
        <div class="col-md-4">
            <label for="inputRegion" class="form-label">Regione</label>
            <input type="text" class="form-control" id="inputRegion" name="region" required>
        </div>
        <!-- Telefono -->
        <div class="col-md-6">
            <label for="inputPhone" class="form-label">Telefono</label>
            <input type="tel" class="form-control" id="inputPhone" name="phone" required>
        </div>
        <!-- Email -->
        <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="email" required>
        </div>
        <!-- Nome arte -->
        <div class="col-md-6">
            <label for="inputStageName" class="form-label">Nome d'arte</label>
            <input type="text" class="form-control" id="inputStageName" name="stageName" required>
        </div>
        <!-- Selezione competizione -->
        <div class="col-md-6">
            <label for="inputCompetition" class="form-label">Chiede di concorrere per</label>
            <select class="form-select" id="inputCompetition" name="competition">
<!--                <option selected disabled value="">Scegli..</option>-->
                <option value="1">Miglior testo</option>
                <option value="2">Miglior compositore</option>
                <option value="3">Miglior cover</option>
            </select>
        </div>

        <!--  Blocchi dinamici -->

        <!-- Blocco Compositore / Cover -->
<!--        <div class="col-md-12"  id="blockCompositor" style="display: none">-->
<!--            <label for="inputCompositor" class="form-label">Come vuoi partecipare?</label>-->
<!--            <select class="form-select" id="inputCompositor" name="compositor">-->
<!--                <option value="">Scegli..</option>-->
<!--                <option value="1">Demo</option>-->
<!--                <option value="2">Video in diretta</option>-->
<!--            </select>-->
<!--        </div>-->

        <!-- Blocco Demo -->

        <div class="col-md-12" style="display: none" id="blockDemo">
            <label for="inputLinkVideoDemo" class="form-label">Inserisci il link oppure carica file(mp3)</label>
            <input type="text" id="inputLinkVideoDemo" class="form-control" name="linkVideoDemo">
            <br>
            <input type="file" id="inputFileVideoDemo" class="form-control" name="fileVideoDemo">
        </div>

        <!-- Blocco Video in diretta -->

        <div class="col-md-12" style="display: none" id="blockVideoLive">
            <p>Sarai convocato tramite e-mail continua con l'inserimento dei dati.</p>
        </div>

        <!-- Blocco miglior testo -->

        <div class="col-md-12" style="" id="blockBestText">
            <label for="inputTextUpload" class="form-label">Carica il documento(doc/pdf)</label>
            <input type="file" id="inputTextUpload" class="form-control" name="textUpload" >
        </div>

        <!-- Fine blocchi dinamici -->

        <!-- foto personale -->
        <div class="col-md-6">
            <label for="inputImageUpload" class="form-label">Carica una tua foto</label>
            <input type="file" id="inputImageUpload" class="form-control" name="imageUpload">
        </div>

        <!-- curriculum -->
        <div class="col-md-6">
            <label for="inputCVupload" class="form-label">Carica il tuo curriculum</label>
            <input type="file" id="inputCVupload" class="form-control" name="cvUpload">
        </div>

        <!-- contratto -->
        <div class="col-md-12">
            <input type="checkbox" class="form-check-input" id="checkboxContract">
            <label class="form-check-label" for="checkboxContract">Dichiaro di aver preso visione del <a href="https://premiogiancarlobigazzi.com/regolamento/">regolamento</a></label>
        </div>

        <!-- recaptcha -->


        <div class="col-md-12">
            <div
                class="g-recaptcha"
                data-sitekey=""
                >
            </div>

            <button class="btn btn-primary"
                    id="submit_custom_form"
                    type="submit">Invia candidatura</button>
<!--            <button type="submit" class="btn btn-primary" id="submit_custom_form">Invia candidatura</button>-->

        </div>
    </form>